# data/models/credentials
# don't ignore metrics.json file
config.yaml
tmp/*
data/*
model_versions/*
src/reports/*
!src/reports/metrics.json
*.DS_Store
plantations-packageslist.txt
src/fil-result/*
fil-result/*
reports/*
.vscode/
*.code-workspace
catboost_info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints
notebooks/conclusions.ipynb
